/* <!-- HEADER --> */
.colorB {
  background-color: var(--twocolor);
}
.Contact {
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Contact a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--onefont);

  i {
    color: var(--onecolor);
  }
}

/* OTRO MENU */
.menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.rovers {
  img {
    width: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburguer {
    width: 50px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    position: relative;
    div {
      width: 1.875rem;
      height: 0.125rem;
      margin: 0.3125rem 0;
      background-color: var(--threecolor);
      transition: all 0.3s ease;
    }
  }
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
  li {
    padding: 15px;
  }
  a {
    text-decoration: none;
    color: var(--threecolor);
    font-family: var(--onefont);
    font-size: 16px;
  }
}
.contflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li:first-child a {
  color: var(--onecolor);
}

/*  */
/* HERO */
/*  */

.hero {
  background-image: url("../imagenes/fondo.jpg");
  background-position: center;
  background-color: var(--threecolor);
  background-blend-mode: multiply;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: justify;
}
.centro {
  padding-left: 140px;
  h1 {
    font-family: var(--twofont);
    color: white;
    font-size: 30px;
  }
  span {
    color: var(--onecolor);

    padding: 10px 0px;
    display: block;
  }

  p {
    color: white;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--onecolor);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}
.icono2 {
  display: flex;
  list-style: none;

  li a i {
    font-size: 30px;
    color: white;
    padding: 10px;
  }
}

/*  */
/*OUR SERVICES */
/*  */

.our-serv {
  text-align: center;
  padding-top: 20px;

  h2 {
    font-family: var(--twofont);
    font-size: 24px;
  }
  span {
    color: var(--onecolor);
  }
}
.caja {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;

  .linea {
    width: 100px;
    height: 2px;
    background-color: var(--onecolor);
    position: relative;
  }
  .equis {
    position: absolute;
    font-size: 20px;
    color: var(--onecolor);
    padding: 0 5px;
  }
}

.gridD {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.gridD article {
  padding: 20px;
  border-left: 1px solid var(--threecolor);
  text-align: left;
  max-width: 250px;

  h6 {
    font-weight: 700;
  }
}
article:first-child {
  border-left: none;
}
.icono3 {
  border: 1px solid var(--onecolor);
  color: var(--onecolor);
  padding: 5px;
}

.gridD i {
  i {
    border-radius: 1px solid var(--onecolor);
  }
}
.leer-mas {
  font-weight: 700;
  text-decoration: none;
  color: var(--onecolor);
}
/*  */
/* ABAU AS */
/*  */

.about-us h2 {
  font-family: var(--twofont);
  font-size: 24px;
  text-align: center;

  span {
    color: var(--onecolor);
  }
}
.imagenF img {
  height: 250px;
  width: 400px;
  margin: 50px;
  border: 3px solid var(--onecolor);
}
.ultmF {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: auto;
  align-items: center;
}
.cajitaF {
  margin: 20px;
  align-items: center;
  justify-content: center;

  h3 {
    font-weight: 700;
  }
  span {
    color: var(--onecolor);
    padding: 10px 0px;
    display: block;
  }
}

/* FOOTER */

footer {
  background-color: var(--twocolor);
  color: white;
  height: 30px;
  display: block;
  font-family: var(--onefont);
}

.container {
  max-width: 1200px; /* O el ancho que desees */
  margin: 0 auto; /* Centra el contenido */
  padding: 0 20px; /* Añade espacio a los lados */
}