/* <!-- HEADER --> */
.colorB {
  background-color: var(--twocolor);
}
.Contact {
  padding: 0.625rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Contact a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--onefont);

  i {
    color: var(--onecolor);
  }
}

/* OTRO MENU */
.menu {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.rovers {
  img {
    width: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburguer {
    width: 50px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    position: relative;
    div {
      width: 1.875rem;
      height: 0.125rem;
      margin: 0.3125rem 0;
      background-color: var(--threecolor);
      transition: all 0.3s ease;
    }
  }
}

nav ul {
  display: flex;
  gap: 1.25rem;
  padding: 0;
  list-style: none;
  li {
    padding: 0.9375rem;
  }
  a {
    text-decoration: none;
    color: var(--threecolor);
    font-family: var(--onefont);
    font-size: 1rem;
  }
  a:hover {
    transition: all 0.3s ease;
    color: var(--onecolor);
  }
}
.contflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li:first-child a {
  color: var(--onecolor);
}

/*  */
/* HERO */
/*  */

.hero {
  background-image: url("../imagenes/fondo.jpg");
  background-position: center;
  background-color: var(--threecolor);
  background-blend-mode: multiply;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: justify;
}
.centro {
  padding-left: 8.75rem;
  h1 {
    font-family: var(--twofont);
    color: white;
    font-size: 1.875rem;
  }
  span {
    color: var(--onecolor);

    padding: 0.625rem 0px;
    display: block;
  }

  p {
    color: white;
  }
}

.btn {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: var(--onecolor);
  color: white;
  text-decoration: none;
  border-radius: 0.3125rem;
  margin-top: 0.625rem;
}
.btn:hover {
  background-color: transparent;
  color: var(--onecolor);
  border: 0.0625rem solid var(--onecolor);
  transition: all 0.3s ease;
}
.icono2 {
  display: flex;
  list-style: none;

  li a i {
    font-size: 1.875rem;
    color: white;
    padding: 0.625rem;
  }
}

/*  */
/*OUR SERVICES */
/*  */

.our-serv {
  text-align: center;
  padding-top: 1.25rem;

  h2 {
    font-family: var(--twofont);
    font-size: 1.5rem;
  }
  span {
    color: var(--onecolor);
  }
}
.caja {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.3125rem;

  .linea {
    width: 6.25rem;
    height: 2px;
    background-color: var(--onecolor);
    position: relative;
  }
  .equis {
    position: absolute;
    font-size: 1.25rem;
    color: var(--onecolor);
    padding: 0 0.3125rem;
  }
}

.gridD {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.25rem;
}
.gridD article {
  padding: 1.25rem;
  border-left: 1px solid var(--threecolor);
  text-align: left;
  max-width: 15.625rem;

  h6 {
    font-weight: 700;
  }
}
article:first-child {
  border-left: none;
}
.icono3 {
  border: 0.0625rem solid var(--onecolor);
  color: var(--onecolor);
  padding: 0.3125rem;
}

.gridD i {
  i {
    border-radius: 0.0625rem solid var(--onecolor);
  }
}
.leer-mas {
  font-weight: 700;
  text-decoration: none;
  color: var(--onecolor);
}
/*  */
/* ABAU AS */
/*  */

.about-us h2 {
  font-family: var(--twofont);
  font-size: 1.5rem;
  text-align: center;

  span {
    color: var(--onecolor);
  }
}
.imagenF {
  position: relative;
}
.imagenF img {
  height: 15.625rem;
  width: 25rem;
  margin: 3.125rem;
  position: relative;
  display: block;
  pointer-events: none;
}
.cuadroG {
  height: 15.625rem;
  width: 25rem;
  color: transparent;
  position: absolute;
  top: 2.9375rem;
  left: 2.9375rem;
  transition: transform 0.3s ease;
  width: 81%;
  z-index: -1;
  height: 73%;
  border: 0.1875rem solid var(--onecolor);
  margin: 0.5rem;
  transform: rotate(10deg);
}
.imagenF:hover .cuadroG {
  transform: rotate(0deg);
}
.ultmF {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: auto;
  align-items: center;
}
.cajitaF {
  margin: 1.25rem;
  align-items: center;
  justify-content: center;

  h3 {
    font-weight: 700;
  }
  span {
    color: var(--onecolor);
    padding: 0.625rem 0px;
    display: block;
  }
}

/* FOOTER */

footer {
  background-color: var(--twocolor);
  color: white;
  height: 1.875rem;
  display: block;
  font-family: var(--onefont);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .hov:hover {
    transition: all 0.3s ease;
    color: var(--onecolor);
  }
}

/* boton */
.sube {
  position: fixed;
  margin-left: 95%;
  margin-top: -5%;
  color: var(--onecolor);
  scroll-behavior: smooth;
  cursor: pointer;
  font-size: 1.875rem;
}


